.submit-button {
	background: #003BE5;
	border: none;
	color: white;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.submit-button:hover {
	background-color: white;
	border: 2px solid #003BE5;
	color: #003BE5;
}

.search-button {
	width: 96px;
	height: 36px;
}

.login-button {
	width: 264px;
	height: 32px;
	margin-top: 10px;
	padding: 5px;
}
