.button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button {
  background: var(--main-color-button);
  border: none;
  color: var(--secondary-color-button);
}

.submit-button:hover, .edit-button {
  background-color: var(--secondary-color-button);
  border: 2px solid var(--main-color-button);
  color: var(--main-color-button);
  font-weight: 700;
}

.search-button, .profile-button-save {
  height: 36px;
  width: 96px;
}

.login-button {
  height: 32px;
  margin-top: 10px;
  padding: 5px;
  width: 264px;
}

.edit-button {
  font-weight: 700;
  height: 32px;
  margin-bottom: 22px;
  padding: 5px;
}

.edit-button:hover {
  background-color: rgb(224, 220, 220);
}
