.button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button {
  background: hsl(225, 100%, 45%);
  border: none;
  color: white;
}

.submit-button:hover, .edit-button {
  background-color: white;
  border: 2px solid hsl(225, 100%, 45%);
  color: hsl(225, 100%, 45%);
  font-weight: 700;
}

.search-button, .profile-button-save {
  height: 36px;
  width: 96px;
}

.login-button {
  height: 32px;
  margin-top: 10px;
  padding: 5px;
  width: 264px;
}

.edit-button {
  font-weight: 700;
  height: 32px;
  margin-bottom: 22px;
  padding: 5px;
}

.edit-button:hover {
  background-color: hsl(0, 0%, 87%);
}
