.button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button {
  background: var(--main-blue);
  border: none;
  color: var(--main-white);
}

.submit-button:hover, .edit-button {
  background-color: var(--main-white);
  border: 2px solid var(--main-blue);
  color: var(--main-blue);
  font-weight: 700;
}

.search-button, .profile-button-save {
  height: 36px;
  width: 96px;
}

.login-button {
  height: 32px;
  margin-top: 10px;
  padding: 5px;
  width: 264px;
}

.edit-button {
  font-weight: 700;
  height: 32px;
  margin-bottom: 22px;
  padding: 5px;
}

.edit-button:hover {
  background-color: var(--bg-edit-hover);
}
