.page-favorites > p {
  align-items: flex-start;
  display: flex;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 70px;
}

.page-favorites {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
}

.favorite-music {
  align-items: center;
  border-bottom: 1px solid var(--border-input);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 15px;
  width: 676px;
}

.favorite-music-image {
  border-radius: 50px;
  margin-right: 15px;
  width: 61px;
}

.favorite-music-name {
  width: 200px;
}

.favoteNotFound {
  color: var(--main-green);
  font-size: 26px;
}
