.link {
  color: var(--terciary-color-nav);
  height: 100%;
  width: 90%;
  text-decoration: none;
  background: var(--secondary-color-nav);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}

.link-active {
  background: var(--main-color-nav);
  color: var(--main-color-site);
  font-weight: 700;
}

.link-search {
  margin-right: 6px;
}

.link-favorites {
  margin-right: 6px;
}

.header-component {
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.user-header {
  height: 86px;
  width: 100%;
  background-color: var(--main-color-header);
  color: var(--main-color-site);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
}

.navegation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  font-size: 20px;
}

.user-name {
  color: #29313D;
  font-size: 16px;
}

.user {
  background-color: var(--main-color-site);
  border-radius: 30px;
  display: flex;
  padding: 5px;
  padding-left: 1px;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.user-icon {
  color: var(--terciary-color-nav);
  font-size: 28px;
  margin-right: 1px;
}
