.link {
  align-items: center;
  background: var(--bg-input-focus);
  color: var(--terciary-green);
  display: flex;
  font-weight: 700;
  height: 100%;
  justify-content: space-around;
  text-decoration: none;
  width: 90%;
}

.link-active {
  background: var(--secondary-green);
  color: var(--main-white);
  font-weight: 700;
}

.link-search {
  margin-right: 6px;
}

.link-favorites {
  margin-right: 6px;
}

.header-component {
  box-shadow: 0 4px 1px var(--shadow);
}

.header {
  align-items: center;
  background-color: var(--main-green);
  color: var(--main-white);
  display: flex;
  font-size: 20px;
  height: 86px;
  justify-content: space-between;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

.navegation {
  display: flex;
  font-size: 20px;
  height: 68px;
  justify-content: space-between;
  width: 100%;
}

.user-name {
  color: var(--user-infos);
  font-size: 16px;
}

.user {
  align-items: center;
  background-color: var(--main-white);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  padding-left: 1px;
  width: 200px;
}

.user-icon {
  color: var(--terciary-green);
  font-size: 28px;
  margin-right: 1px;
}
