.text-input {
  border: 1px solid #d1d3d6;
  cursor: pointer;
  font-size: 16px;
  height: 36px;
  padding: 10px;
  width: 286px;
}

.text-input:focus {
  background-color: #F0F2F5;
  outline: 1px solid #949596;
}

.login-input {
  border-radius: 5px;
  height: 30px;
  margin-bottom: 5px;
  width: 264px;
}

.search-input {
  align-self: center;
  border-radius: 5px;
  display: flex;
  height: 36px;
  margin-right: 25px;
  padding: 15px;
  width: 396px;
}

.profile-edit-input {
  border: none;
  border-bottom: 1px solid #bfc0c2;
  font-size: 14px;
  height: 36px;
  margin-bottom: 10px;
  padding: 6px 1px;
  width: 286px;
}

.profile-edit-input:focus {
  margin-right: 3px;
  outline: none;
}

.profile-edit-label, .profile-label{
  color: #3D495C;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
}

.profile-edit-image {
  align-items: center;
  display: flex;
}

.input-image {
  font-size: 14px;
  height: 36px;
  margin-left: 10px;
  width: 206px;
}
