.loading {
  color: var(--main-green);
  display: flex;
  font-family: Montserrat , sans-serif;
  font-size: 50px;
  justify-content: center;
  margin-top: 70px;
  width: 614px;
}

.loading-login {
  color: var(--main-green);
  font-size: 26px;
}
