@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Montserrat&family=Roboto:wght@300&display=swap') ;

.loading {
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px;
	font-size: 20px;
}