* {
  box-sizing: border-box;
  font-family: Montserrat , sans-serif;
  margin: 0;
  padding: 0;
}

.page-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-top: 70px;
}

.login {
  align-items: center;
  border: 2px solid var(--border-input);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 296px;
  padding-top: 80px;
  width: 364px;
}

.logo-login-container {
  font-size: 28px;
  margin-bottom: 28px;
}

.icon-login {
  color: var(--terciary-green);
  margin-left: 6px;
}

.login-logo-up {
  color: var(--text-log);
  font-size: 28px;
  font-weight: bold;
  margin-right: 5px;
}

.login-logo-down {
  color: var(--text-log);
  margin-left: 30px;
}
