* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.page-login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	margin-top: 70px;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
	height: 296px;
	width: 364px;
	border-radius: 10px;
	border: 2px solid var(--border-input);
}

.logo-login-container {
	font-size: 28px;
	margin-bottom: 28px;
}

.icon-login {
	color: var(--terciary-green);
	margin-left: 6px;
}

.login-logo-up {
  font-size: 28px;
  margin-right: 5px;
  font-weight: bold;
  color: var(--text-log);
}

.login-logo-down {
  margin-left: 30px;
  color: var(--text-log);
}
