.header-logo-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.icon-header {
  color: var(--terciary-green);
  font-size: 24px;
  margin-left: 6px;
}

.header-logo-up {
  font-weight: bold;
  margin-right: 5px;
}

.header-logo-down {
  margin-left: 30px;
}

.notFound-logo-container {
  display: flex;
  flex-direction: column;
  font-size: 28px;
}

.icon-notFound {
  color: var(--terciary-green);
  font-size: 28px;
  margin-left: 6px;
}

.notFound-logo-up {
  color: var(--text-log);
  font-weight: bold;
  margin-right: 5px;
}

.notFound-logo-down {
  color: var(--text-log);
  margin-left: 30px;
}
