.header-logo-container {
	display: flex;
	flex-direction: column;
	font-size: 20px;
  }

  .icon-header {
	font-size: 24px;
	color: var(--terciary-green);
	margin-left: 6px;
  }

  .header-logo-up {
	margin-right: 5px;
	font-weight: bold;
  }
  
  .header-logo-down {
	margin-left: 30px;
  }

  .notFound-logo-container {
	display: flex;
	flex-direction: column;
	font-size: 28px;
  }

  .icon-notFound {
	font-size: 28px;
	color: var(--terciary-green);
	margin-left: 6px;
  }
  
  .notFound-logo-up {
	margin-right: 5px;
	font-weight: bold;
	color: var(--text-log);
  }
  
  .notFound-logo-down {
	margin-left: 30px;
	color: var(--text-log);
  }
