.page-not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 70px;
}

.text-not-found {
	display: flex;
	color: var(--main-green);
	width: 656px;
	margin-top: 56px;
}

.ops {
	font-size: 100px;
	margin-right: 35px;
}

.message-not-found {
	font-size: 40px;
}