.page-not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px;
}

.text-not-found {
  color: var(--main-green);
  display: flex;
  margin-top: 56px;
  width: 656px;
}

.ops {
  font-size: 100px;
  margin-right: 35px;
}

.message-not-found {
  color: var(--main-green);
  font-size: 40px;
}
