.page-profile-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 33px; */
}

.profile-edit-container {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
	padding: 15px;
	border-radius: 5px;
  margin-top: 30px;
}

.textarea-edit {
	height: 100px;
	border: none;
	border-bottom: 1px solid #bfc0c2;
}

.textarea-edit:focus {
  outline: none;
  background-color: #F0F2F5;
}

.container-button {
	display: flex;
	justify-content: center;
}
