.page-profile {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	margin-top: 30px;
}

.profile-container {
	min-height: 64.9vh;
	width: 316px;
	padding-top: 15px;
}

.profile-icon {
	width: 70px;
	height: 70px;
	color: #3D495C;
	margin-bottom: 16px;
}

.profile-image-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.profile-description {
	margin-bottom: 900px;
	word-wrap: break-word;
}

.profile-label {
	font-size: 16px;
	font-weight: bold;
	font-weight: 700;
}

.user-infos {
	word-wrap: break-word;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 5px;
	color: #313a4a;
	font-weight: 200;
}
