.page-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
}

.profile-container {
	border: 1px solid #949596;
	width: 40%;
	padding: 15px;
	border-radius: 5px;
}

.profile-button {
	height: 32px;
	font-size: 12px;
	margin-top: 10px;
	background-color: white;
	border: 2px solid #003BE5;
	color: #003BE5;
	padding: 5px;
	border-radius: 5px;
	font-weight: 700;
}

.profile-label {
	color: #3D495C;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.profile-icon {
	width: 70px;
	height: 70px;
	color: #3D495C;
	margin-bottom: 5px;
}

.profile-initial {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.user-infos {
	font-size: 12px;
	margin-bottom: 20px;
}