.page-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.profile-container {
	width: 316px;
	padding: 15px;
	border-radius: 5px;
}

.profile-label {
	color: #3D495C;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.profile-icon {
	width: 70px;
	height: 70px;
	color: #3D495C;
	margin-bottom: 16px;
}

.profile-initial {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.user-infos {
	font-size: 12px;
	margin-bottom: 20px;
}
