.page-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.profile-container {
	width: 316px;
	padding: 15px;
}

.profile-icon {
	width: 70px;
	height: 70px;
	color: #3D495C;
	margin-bottom: 16px;
}

.profile-image-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.user-infos {
	font-size: 12px;
	margin-bottom: 20px;
}

.profile-description {

	margin-bottom: 900px;
}
