.page-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.profile-container {
  padding: 15px;
  width: 316px;
}

.profile-icon {
  color: var(--label);
  height: 70px;
  margin-bottom: 16px;
  width: 70px;
}

.profile-image-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-description {
  margin-bottom: 900px;
}

.profile-label {
  font-size: 16px;
  font-weight: bold;
  font-weight: 700;
}

.user-infos {
  color: var(--black);
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 20px;
  margin-top: 5px;
}
