.page-profile-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.profile-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
	padding: 15px;
	border-radius: 5px;
  margin-top: 60px;
}

.textarea-edit {
	height: 100px;
	border: none;
	border-bottom: 1px solid var(--bg-input-focus);
}

.textarea-edit:focus {
  outline: none;
  background-color: var(--bg-input-focus);
}

.container-button {
	display: flex;
	justify-content: center;
}
