.page-profile-edit {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
}

.profile-edit-container {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 15px;
}

.textarea-edit {
  border: none;
  border-bottom: 1px solid var(--bg-input-focus);
  height: 100px;
}

.textarea-edit:focus {
  background-color: var(--bg-input-focus);
  outline: none;
}

.container-button {
  display: flex;
  justify-content: center;
}
