.page-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.profile-container {
	width: 316px;
	padding: 15px;
}

.profile-icon {
	width: 70px;
	height: 70px;
	color: var(--label);
	margin-bottom: 16px;
}

.profile-image-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.profile-description {
	margin-bottom: 900px;
}

.profile-label {
	font-size: 16px;
	font-weight: bold;
	font-weight: 700;
}

.user-infos {
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 5px;
	color: var(--black);
	font-weight: 200;
}
