.conteiner-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-result {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.searched-albuns {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.collection-name {
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  padding: 10px;
  font-size: 16px;
  color: var(--label);
  text-decoration: none;
}

.search-container {
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.logo-icon {
 display: flex;
}

.icon {
  width: 36px;
  height: 26px;
  margin-left: 1px;
  color: var(--terciary-green);
}

.album {
  width: 226px;
  height: 226px;
  border: 1px solid var(--border-input);
  box-shadow: 0px 1px 2px var(--shadow);
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.img-album {
  width: 226px;
  height: 142px;
  border-radius: 5px;
}

.artist-name {
  padding: 10px;
  color: var(--label);
  padding-top: 0px;
  text-decoration: none;
  font-size: 12px;
  text-decoration: none;
}

.search-title {
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  color: var(--secondary-green);
}

.search-icon {
  display: flex;
  justify-content: flex-end;
  position: absolute;

}