.conteiner-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-result {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.searched-albuns {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.collection-name {
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  padding: 10px;
  font-size: 16px;
  color: #3D495C;
  text-decoration: none;
}

.search-button {
  background: #003BE5;
  color: white;
  width: 96px;
  height: 36px;
  border-radius: 5px;
  font-size: 16px;
}

.search-button:hover {
  background-color: white;
  border: 2px solid #003BE5;
  color: #003BE5;
}

.search-container {
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.search-input {
  width: 396px;
  height: 36px;
  margin-right: 25px;
  border: 1px solid #bfc0c2;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
}

.search-input:focus {
  width: 396px;
  height: 36px;
  margin-right: 25px;
  box-shadow: 0;
  outline: 1px solid #949596;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
}


.logo-icon {
 display: flex;
}

.icon {
  width: 36px;
  height: 26px;
  margin-left: 1px;
  color: #2FC18C;
}

.album {
  width: 226px;
  height: 226px;
  border: 1px solid #E1E5EB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.img-album {
  width: 226px;
  height: 142px;
  border-radius: 5px;
}

.artist-name {
  padding: 10px;
  color: #3D495C;
  padding-top: 0px;
  text-decoration: none;
  font-size: 12px;
}

.search-title {
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  color: #09463a;
}