.conteiner-search {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
}

.search-result {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.searched-albuns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.collection-name {
  color: var(--label);
  display: flex;
  flex-direction: row wrap;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.search-container {
  align-items: center;
  display: flex;
  margin-bottom: 40px;
  margin-top: 70px;
}

.logo-icon {
  display: flex;
}

.icon {
  color: var(--terciary-green);
  height: 26px;
  margin-left: 1px;
  width: 36px;
}

.album {
  border: 1px solid var(--border-input);
  border-radius: 6px;
  box-shadow: 0 1px 2px var(--shadow);
  height: 226px;
  margin-bottom: 10px;
  margin-top: 15px;
  width: 226px;
}

.img-album {
  border-radius: 5px;
  height: 142px;
  width: 226px;
}

.artist-name {
  color: var(--label);
  font-size: 12px;
  padding: 10px;
  padding-top: 0;
  text-decoration: none;
  text-decoration: none;
}

.search-title {
  color: var(--secondary-green);
  display: flex;
  font-size: 24px;
  justify-content: flex-start;
}

.search-icon {
  display: flex;
  justify-content: flex-end;
  position: absolute;

}

.albumNotFound {
  color: var(--main-green);
  font-size: 26px;
}
