.header-component {
  align-items: center;
  background: #023031;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 96px;
  left: 0;
  margin-bottom: 50px;
  top: 4px;
}

.login {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 200px;
}

.link {
  color: white;
  margin-left: 30px;
  margin-right: 10px;
  text-decoration: none;
}
