@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Montserrat&family=Roboto:wght@300&display=swap') ;

:root {
	--main-color-button: rgb(0, 57, 230);
	--secondary-color-button: rgb(255, 255, 255);
}